In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Predictions_1Week.csv")
data.head()

   Unnamed: 0  test  predictions
0           1    35    36.799967
1           2    28    27.518584
2           3    37    37.913120
3           4    41    43.348766
4           5    34    31.734385

In [3]:
test = data["test"].values
predictions = data["predictions"].values

print(test[:5])
print(predictions[:5])

[35 28 37 41 34]
[36.79996719 27.51858393 37.91312036 43.34876622 31.73438549]

In [4]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(test, predictions)
print(mse)

3.960522795457975